@import "../../colors.scss";



.btnMode:hover{
    background-color: #ffffff;
    color: var(--color-bg-2);
}

.menuDiv{
    background-color: var(--color-bg-1);
    height: 60px;
    justify-content: center;
}

.navLink{
    font-size: 1.3em;
}