@import "../../colors.scss";

.btnMode{
    background-color: var(--color-bg-1-switch);
    color: var(--color-bg-2);
}

.btnMode:hover{
    color: var(--color-bg-2);
    background-color: var(--color-bg-2-switch);
}

.menuDiv{
    background-color: var(--color-bg-1);
}