.header{
    height: 50px;
    background: url(../../Assets/images/header-background.jpg) center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.themeBtnDiv{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}