*{
    box-sizing: border-box;
    margin: 0;
    transition:  background-color .4s ;
}

.test{
    color: var(--color-bg-1);
}

.appDiv{
    background-color: var(--color-bg-3);
    min-height: calc(100vh);
}

.mainContentDiv{
    min-height: calc(100vh - 210px);
    color: var(--color-bg-1-switch);
    font-size: 1.5em;
    text-align: center;
}

.headerHotels{
    font-weight: bold;
    text-align: center;
    color: var(--color-text-1);
}
