[data-mode="light"]{
    --color-bg-1: rgb(228, 228, 228);
    --color-bg-2: #bdbdbd;
    --color-bg-3: #ffffff;

    --color-bg-1-switch: #303030;
    --color-bg-2-switch: #272727;

    --color-text-1: #1f1f1f;
    
    --color-main-1: #9E504C;
    --color-main-2: #944a46;
}

[data-mode="dark"]{
    --color-bg-1: #303030;
    --color-bg-2: #111111;
    --color-bg-3: #424242;

    --color-bg-1-switch: #e6e6e6;
    --color-bg-2-switch: #ffffff;


    --color-text-1: #F2F2F2;
    
    --color-main-1: #9E504C;
    --color-main-2: #944a46;
}